# Data Cleaning

In [1]:
!pip install sklearn.preprocessing
from sklearn.preprocessing import LabelEncoder

Requirement already satisfied: sklearn.preprocessing in c:\users\ahmad\anaconda3\lib\site-packages (0.1.0)

In [2]:
import pandas as pd
pd.__version__

'2.2.2'

## test.csv

In [3]:
test= pd.read_csv(r"C:\Users\ahmad\Desktop\depi_project\test.csv")

In [4]:
test.head(10)

          id        date  store_nbr  item_nbr  onpromotion
0  125497040  2017-08-16          1     96995        False
1  125497041  2017-08-16          1     99197        False
2  125497042  2017-08-16          1    103501        False
3  125497043  2017-08-16          1    103520        False
4  125497044  2017-08-16          1    103665        False
5  125497045  2017-08-16          1    105574        False
6  125497046  2017-08-16          1    105575        False
7  125497047  2017-08-16          1    105576        False
8  125497048  2017-08-16          1    105577        False
9  125497049  2017-08-16          1    105693        False

In [5]:
test.shape

(3370464, 5)

In [6]:
test.dtypes

id              int64
date           object
store_nbr       int64
item_nbr        int64
onpromotion      bool
dtype: object

In [7]:
test['onpromotion'] = test['onpromotion'].astype(int)
test['onpromotion']

0          0
1          0
2          0
3          0
4          0
          ..
3370459    0
3370460    0
3370461    0
3370462    0
3370463    0
Name: onpromotion, Length: 3370464, dtype: int32

In [8]:
test['date']=pd.to_datetime(test['date'] , format= '%Y-%m-%d')
test['date']

0         2017-08-16
1         2017-08-16
2         2017-08-16
3         2017-08-16
4         2017-08-16
             ...
3370459   2017-08-31
3370460   2017-08-31
3370461   2017-08-31
3370462   2017-08-31
3370463   2017-08-31
Name: date, Length: 3370464, dtype: datetime64[ns]

In [9]:
print(test.isnull().sum())

id             0
date           0
store_nbr      0
item_nbr       0
onpromotion    0
dtype: int64

In [10]:
duplicates = test.duplicated().sum()
duplicates

0

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
test['item_nbr'] = scaler.fit_transform(test[['item_nbr']])

In [12]:
test.drop(columns=['id'], inplace=True)

In [13]:
test.head()

        date  store_nbr  item_nbr  onpromotion
0 2017-08-16          1  0.000000            0
1 2017-08-16          1  0.001081            0
2 2017-08-16          1  0.003194            0
3 2017-08-16          1  0.003203            0
4 2017-08-16          1  0.003274            0

## train.csv

In [14]:
dtypes = {
    "id": "int32",
    "store_nbr": "int16",
    "item_nbr": "int32",
    "unit_sales": "float32",
    "onpromotion": "category"
}
train = pd.read_csv(r"C:\Users\ahmad\Desktop\depi_project\train.csv",dtype=dtypes)

In [15]:
train.head(10)

   id        date  store_nbr  item_nbr  unit_sales onpromotion
0   0  2013-01-01         25    103665         7.0         NaN
1   1  2013-01-01         25    105574         1.0         NaN
2   2  2013-01-01         25    105575         2.0         NaN
3   3  2013-01-01         25    108079         1.0         NaN
4   4  2013-01-01         25    108701         1.0         NaN
5   5  2013-01-01         25    108786         3.0         NaN
6   6  2013-01-01         25    108797         1.0         NaN
7   7  2013-01-01         25    108952         1.0         NaN
8   8  2013-01-01         25    111397        13.0         NaN
9   9  2013-01-01         25    114790         3.0         NaN

In [16]:
train.shape

(125497040, 6)

In [17]:
print(train.isnull().sum())

id                    0
date                  0
store_nbr             0
item_nbr              0
unit_sales            0
onpromotion    21657651
dtype: int64

In [18]:
train['onpromotion'].value_counts()

onpromotion
False    96028767
True      7810622
Name: count, dtype: int64

In [19]:
train["onpromotion"] = train["onpromotion"].astype(str)
train["onpromotion"] = train["onpromotion"].replace("nan", "False") 
train["onpromotion"] = train["onpromotion"].map({"False": 0, "True": 1}).astype("int32")
train['onpromotion']

0            0
1            0
2            0
3            0
4            0
            ..
125497035    0
125497036    1
125497037    0
125497038    1
125497039    0
Name: onpromotion, Length: 125497040, dtype: int32

In [20]:
print(train.isnull().sum())

id             0
date           0
store_nbr      0
item_nbr       0
unit_sales     0
onpromotion    0
dtype: int64

In [21]:
train.dtypes

id               int32
date            object
store_nbr        int16
item_nbr         int32
unit_sales     float32
onpromotion      int32
dtype: object

In [22]:
store_sales = train.groupby('store_nbr')['unit_sales'].mean()
item_sales = train.groupby('item_nbr')['unit_sales'].mean()

In [23]:
train['en_store_nbr'] = train['store_nbr'].map(store_sales)
train['en_item_nbr'] = train['item_nbr'].map(item_sales)

In [24]:
test['en_store_nbr'] = test['store_nbr'].map(store_sales)
test['en_item_nbr'] = test['item_nbr'].map(item_sales)
global_mean = train['unit_sales'].mean()
test['en_store_nbr'].fillna(global_mean)
test['en_item_nbr'].fillna(global_mean)

0          8.554856
1          8.554856
2          8.554856
3          8.554856
4          8.554856
             ...
3370459    8.554856
3370460    8.554856
3370461    8.554856
3370462    8.554856
3370463    8.554856
Name: en_item_nbr, Length: 3370464, dtype: float32

In [25]:
train['date']=pd.to_datetime(train['date'] , format= '%Y-%m-%d')
train['date']

0           2013-01-01
1           2013-01-01
2           2013-01-01
3           2013-01-01
4           2013-01-01
               ...
125497035   2017-08-15
125497036   2017-08-15
125497037   2017-08-15
125497038   2017-08-15
125497039   2017-08-15
Name: date, Length: 125497040, dtype: datetime64[ns]

In [26]:
train_duplicates = train.duplicated().sum()
train_duplicates

0

In [27]:
Q1=train['unit_sales'].quantile(0.25)
Q3=train['unit_sales'].quantile(0.75)
IQR=Q3-Q1
lower_bound= Q1 - 1.5 * IQR
upper_bound= Q3 + 1.5 * IQR
outliers = train[(train['unit_sales']< lower_bound) | (train['unit_sales']> upper_bound)]
outliers

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,en_store_nbr,en_item_nbr
35,35,2013-01-01,25,159156,29.903999,0,5.552205,51.623596
64,64,2013-01-01,25,215352,46.000000,0,5.552205,25.028183
68,68,2013-01-01,25,219150,21.000000,0,5.552205,21.530222
79,79,2013-01-01,25,257847,90.000000,0,5.552205,28.400955
113,113,2013-01-01,25,311994,22.589001,0,5.552205,29.974983
...,...,...,...,...,...,...,...,...
125497020,125497020,2017-08-15,54,2061033,23.000000,1,6.706109,14.047421
125497025,125497025,2017-08-15,54,2081064,49.000000,0,6.706109,23.120815
125497027,125497027,2017-08-15,54,2081161,41.000000,0,6.706109,10.458799
125497037,125497037,2017-08-15,54,2110456,192.000000,0,6.706109,38.078972
125497038,125497038,2017-08-15,54,2113914,198.000000,1,6.706109,18.110643

In [28]:
train["unit_sales"] = train["unit_sales"].clip(lower_bound, upper_bound)

In [29]:
# time based features
train['year'] = train['date'].dt.year
train['month'] = train['date'].dt.month
train['day'] = train['date'].dt.day
train['is_weekend'] = train['date'].dt.dayofweek >= 5

In [30]:
train.head()

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,en_store_nbr,en_item_nbr,year,month,day,is_weekend
0,0,2013-01-01,25,103665,7.0,0,5.552205,4.354279,2013,1,1,False
1,1,2013-01-01,25,105574,1.0,0,5.552205,12.949829,2013,1,1,False
2,2,2013-01-01,25,105575,2.0,0,5.552205,20.960373,2013,1,1,False
3,3,2013-01-01,25,108079,1.0,0,5.552205,2.637614,2013,1,1,False
4,4,2013-01-01,25,108701,1.0,0,5.552205,4.438529,2013,1,1,False

In [31]:
train['lag_7'] = train['unit_sales'].shift(7)

In [32]:
train['lag_7'] = train['lag_7'].fillna(0)
train.head(50)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,en_store_nbr,en_item_nbr,year,month,day,is_weekend,lag_7
0,0,2013-01-01,25,103665,7.0,0,5.552205,4.354279,2013,1,1,False,0.0
1,1,2013-01-01,25,105574,1.0,0,5.552205,12.949829,2013,1,1,False,0.0
2,2,2013-01-01,25,105575,2.0,0,5.552205,20.960373,2013,1,1,False,0.0
3,3,2013-01-01,25,108079,1.0,0,5.552205,2.637614,2013,1,1,False,0.0
4,4,2013-01-01,25,108701,1.0,0,5.552205,4.438529,2013,1,1,False,0.0
5,5,2013-01-01,25,108786,3.0,0,5.552205,8.377639,2013,1,1,False,0.0
6,6,2013-01-01,25,108797,1.0,0,5.552205,5.325210,2013,1,1,False,0.0
7,7,2013-01-01,25,108952,1.0,0,5.552205,4.088861,2013,1,1,False,7.0
8,8,2013-01-01,25,111397,13.0,0,5.552205,8.202088,2013,1,1,False,1.0
9,9,2013-01-01,25,114790,3.0,0,5.552205,12.419221,2013,1,1,False,2.0
10,10,2013-01-01,25,114800,1.0,0,5.552205,12.049923,2013,1,1,False,1.0
11,11,2013-01-01,25,115267,1.0,0,5.552205,6.603483,2013,1,1,False,1.0
12,12,2013-01-01,25,115611,1.0,0,5.552205,19.475992,2013,1,1,False,3.0
13,13,2013-01-01,25,115693,1.0,0,5.552205,4.456266,2013,1,1,False,1.0
14,14,2013-01-01,25,115720,5.0,0,5.552205,6.703665,2013,1,1,False,1.0
15,15,2013-01-01,25,115850,1.0,0,5.552205,11.216353,2013,1,1,False,13.0
16,16,2013-01-01,25,115891,6.0,0,5.552205,5.692626,2013,1,1,False,3.0
17,17,2013-01-01,25,115892,10.0,0,5.552205,11.403706,2013,1,1,False,1.0
18,18,2013-01-01,25,115894,5.0,0,5.552205,15.707736,2013,1,1,False,1.0
19,19,2013-01-01,25,119024,1.0,0,5.552205,6.448321,2013,1,1,False,1.0
20,20,2013-01-01,25,119026,1.0,0,5.552205,14.290400,2013,1,1,False,1.0
21,21,2013-01-01,25,119141,1.0,0,5.552205,7.923440,2013,1,1,False,5.0
22,22,2013-01-01,25,119187,1.0,0,5.552205,4.210459,2013,1,1,False,1.0
23,23,2013-01-01,25,119624,4.0,0,5.552205,7.544061,2013,1,1,False,6.0
24,24,2013-01-01,25,123927,1.0,0,5.552205,1.922608,2013,1,1,False,10.0
25,25,2013-01-01,25,129635,11.0,0,5.552205,10.728131,2013,1,1,False,5.0
26,26,2013-01-01,25,153239,3.0,0,5.552205,6.035404,2013,1,1,False,1.0
27,27,2013-01-01,25,153267,9.0,0,5.552205,11.789532,2013,1,1,False,1.0
28,28,2013-01-01,25,153395,7.0,0,5.552205,4.067739,2013,1,1,False,1.0
29,29,2013-01-01,25,155607,2.0,0,5.552205,2.990758,2013,1,1,False,1.0
30,30,2013-01-01,25,158680,1.0,0,5.552205,6.783113,2013,1,1,False,4.0
31,31,2013-01-01,25,158788,4.0,0,5.552205,5.090112,2013,1,1,False,1.0
32,32,2013-01-01,25,158842,9.0,0,5.552205,7.001987,2013,1,1,False,11.0
33,33,2013-01-01,25,158875,1.0,0,5.552205,3.631066,2013,1,1,False,3.0
34,34,2013-01-01,25,158956,5.0,0,5.552205,6.988513,2013,1,1,False,9.0
35,35,2013-01-01,25,159156,19.5,0,5.552205,51.623596,2013,1,1,False,7.0
36,36,2013-01-01,25,162066,2.0,0,5.552205,7.586356,2013,1,1,False,2.0
37,37,2013-01-01,25,164036,1.0,0,5.552205,6.502395,2013,1,1,False,1.0
38,38,2013-01-01,25,164088,3.0,0,5.552205,4.418038,2013,1,1,False,4.0
39,39,2013-01-01,25,165550,10.0,0,5.552205,8.437937,2013,1,1,False,9.0
40,40,2013-01-01,25,165551,1.0,0,5.552205,12.652963,2013,1,1,False,1.0
41,41,2013-01-01,25,165553,9.0,0,5.552205,5.611324,2013,1,1,False,5.0
42,42,2013-01-01,25,165594,4.0,0,5.552205,15.898817,2013,1,1,False,19.5
43,43,2013-01-01,25,165704,4.0,0,5.552205,11.262177,2013,1,1,False,2.0
44,44,2013-01-01,25,165705,15.0,0,5.552205,4.701345,2013,1,1,False,1.0
45,45,2013-01-01,25,165718,2.0,0,5.552205,7.998158,2013,1,1,False,3.0
46,46,2013-01-01,25,165988,1.0,0,5.552205,9.512840,2013,1,1,False,10.0
47,47,2013-01-01,25,168927,9.0,0,5.552205,25.364658,2013,1,1,False,1.0
48,48,2013-01-01,25,169104,1.0,0,5.552205,2.211118,2013,1,1,False,9.0
49,49,2013-01-01,25,172184,2.0,0,5.552205,4.727492,2013,1,1,False,4.0

In [33]:
train['lag_30'] = train['unit_sales'].shift(30)
train['lag_30'] = train['lag_30'].fillna(0)
train.head(50)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,en_store_nbr,en_item_nbr,year,month,day,is_weekend,lag_7,lag_30
0,0,2013-01-01,25,103665,7.0,0,5.552205,4.354279,2013,1,1,False,0.0,0.0
1,1,2013-01-01,25,105574,1.0,0,5.552205,12.949829,2013,1,1,False,0.0,0.0
2,2,2013-01-01,25,105575,2.0,0,5.552205,20.960373,2013,1,1,False,0.0,0.0
3,3,2013-01-01,25,108079,1.0,0,5.552205,2.637614,2013,1,1,False,0.0,0.0
4,4,2013-01-01,25,108701,1.0,0,5.552205,4.438529,2013,1,1,False,0.0,0.0
5,5,2013-01-01,25,108786,3.0,0,5.552205,8.377639,2013,1,1,False,0.0,0.0
6,6,2013-01-01,25,108797,1.0,0,5.552205,5.325210,2013,1,1,False,0.0,0.0
7,7,2013-01-01,25,108952,1.0,0,5.552205,4.088861,2013,1,1,False,7.0,0.0
8,8,2013-01-01,25,111397,13.0,0,5.552205,8.202088,2013,1,1,False,1.0,0.0
9,9,2013-01-01,25,114790,3.0,0,5.552205,12.419221,2013,1,1,False,2.0,0.0
10,10,2013-01-01,25,114800,1.0,0,5.552205,12.049923,2013,1,1,False,1.0,0.0
11,11,2013-01-01,25,115267,1.0,0,5.552205,6.603483,2013,1,1,False,1.0,0.0
12,12,2013-01-01,25,115611,1.0,0,5.552205,19.475992,2013,1,1,False,3.0,0.0
13,13,2013-01-01,25,115693,1.0,0,5.552205,4.456266,2013,1,1,False,1.0,0.0
14,14,2013-01-01,25,115720,5.0,0,5.552205,6.703665,2013,1,1,False,1.0,0.0
15,15,2013-01-01,25,115850,1.0,0,5.552205,11.216353,2013,1,1,False,13.0,0.0
16,16,2013-01-01,25,115891,6.0,0,5.552205,5.692626,2013,1,1,False,3.0,0.0
17,17,2013-01-01,25,115892,10.0,0,5.552205,11.403706,2013,1,1,False,1.0,0.0
18,18,2013-01-01,25,115894,5.0,0,5.552205,15.707736,2013,1,1,False,1.0,0.0
19,19,2013-01-01,25,119024,1.0,0,5.552205,6.448321,2013,1,1,False,1.0,0.0
20,20,2013-01-01,25,119026,1.0,0,5.552205,14.290400,2013,1,1,False,1.0,0.0
21,21,2013-01-01,25,119141,1.0,0,5.552205,7.923440,2013,1,1,False,5.0,0.0
22,22,2013-01-01,25,119187,1.0,0,5.552205,4.210459,2013,1,1,False,1.0,0.0
23,23,2013-01-01,25,119624,4.0,0,5.552205,7.544061,2013,1,1,False,6.0,0.0
24,24,2013-01-01,25,123927,1.0,0,5.552205,1.922608,2013,1,1,False,10.0,0.0
25,25,2013-01-01,25,129635,11.0,0,5.552205,10.728131,2013,1,1,False,5.0,0.0
26,26,2013-01-01,25,153239,3.0,0,5.552205,6.035404,2013,1,1,False,1.0,0.0
27,27,2013-01-01,25,153267,9.0,0,5.552205,11.789532,2013,1,1,False,1.0,0.0
28,28,2013-01-01,25,153395,7.0,0,5.552205,4.067739,2013,1,1,False,1.0,0.0
29,29,2013-01-01,25,155607,2.0,0,5.552205,2.990758,2013,1,1,False,1.0,0.0
30,30,2013-01-01,25,158680,1.0,0,5.552205,6.783113,2013,1,1,False,4.0,7.0
31,31,2013-01-01,25,158788,4.0,0,5.552205,5.090112,2013,1,1,False,1.0,1.0
32,32,2013-01-01,25,158842,9.0,0,5.552205,7.001987,2013,1,1,False,11.0,2.0
33,33,2013-01-01,25,158875,1.0,0,5.552205,3.631066,2013,1,1,False,3.0,1.0
34,34,2013-01-01,25,158956,5.0,0,5.552205,6.988513,2013,1,1,False,9.0,1.0
35,35,2013-01-01,25,159156,19.5,0,5.552205,51.623596,2013,1,1,False,7.0,3.0
36,36,2013-01-01,25,162066,2.0,0,5.552205,7.586356,2013,1,1,False,2.0,1.0
37,37,2013-01-01,25,164036,1.0,0,5.552205,6.502395,2013,1,1,False,1.0,1.0
38,38,2013-01-01,25,164088,3.0,0,5.552205,4.418038,2013,1,1,False,4.0,13.0
39,39,2013-01-01,25,165550,10.0,0,5.552205,8.437937,2013,1,1,False,9.0,3.0
40,40,2013-01-01,25,165551,1.0,0,5.552205,12.652963,2013,1,1,False,1.0,1.0
41,41,2013-01-01,25,165553,9.0,0,5.552205,5.611324,2013,1,1,False,5.0,1.0
42,42,2013-01-01,25,165594,4.0,0,5.552205,15.898817,2013,1,1,False,19.5,1.0
43,43,2013-01-01,25,165704,4.0,0,5.552205,11.262177,2013,1,1,False,2.0,1.0
44,44,2013-01-01,25,165705,15.0,0,5.552205,4.701345,2013,1,1,False,1.0,5.0
45,45,2013-01-01,25,165718,2.0,0,5.552205,7.998158,2013,1,1,False,3.0,1.0
46,46,2013-01-01,25,165988,1.0,0,5.552205,9.512840,2013,1,1,False,10.0,6.0
47,47,2013-01-01,25,168927,9.0,0,5.552205,25.364658,2013,1,1,False,1.0,10.0
48,48,2013-01-01,25,169104,1.0,0,5.552205,2.211118,2013,1,1,False,9.0,5.0
49,49,2013-01-01,25,172184,2.0,0,5.552205,4.727492,2013,1,1,False,4.0,1.0

In [34]:
train['date'] = pd.to_datetime(train['date'])
train = train.sort_values(by=['store_nbr', 'item_nbr', 'date'])
train['rolling_mean_7'] = train.groupby(['store_nbr', 'item_nbr'])['unit_sales'].transform(lambda x: x.rolling(window=7, min_periods=1).mean())
train['rolling_mean_30'] = train.groupby(['store_nbr', 'item_nbr'])['unit_sales'].transform(lambda x: x.rolling(window=30, min_periods=1).mean())

In [35]:
train['is_weekend'] = train['is_weekend'].astype(int)

In [36]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

train['item_nbr'] = scaler.fit_transform(train[['item_nbr']])

In [37]:
train.drop(columns=['id'], inplace=True)

In [38]:
train.shape

(125497040, 15)

In [39]:
train.head(10)

,date,store_nbr,item_nbr,unit_sales,onpromotion,en_store_nbr,en_item_nbr,year,month,day,is_weekend,lag_7,lag_30,rolling_mean_7,rolling_mean_30
324276,2013-01-10,1,0.0,1.0,0,5.520752,1.939759,2013,1,10,0,1.0,2.0,1.000000,1.000000
362634,2013-01-11,1,0.0,1.0,0,5.520752,1.939759,2013,1,11,0,1.0,7.0,1.000000,1.000000
486204,2013-01-14,1,0.0,1.0,0,5.520752,1.939759,2013,1,14,0,3.0,4.0,1.000000,1.000000
644444,2013-01-18,1,0.0,2.0,0,5.520752,1.939759,2013,1,18,0,7.0,1.0,1.250000,1.250000
770056,2013-01-21,1,0.0,1.0,0,5.520752,1.939759,2013,1,21,0,2.0,2.0,1.200000,1.200000
927560,2013-01-25,1,0.0,1.0,0,5.520752,1.939759,2013,1,25,0,1.0,2.0,1.166667,1.166667
1052871,2013-01-28,1,0.0,1.0,0,5.520752,1.939759,2013,1,28,0,1.0,3.0,1.142857,1.142857
1171957,2013-01-31,1,0.0,1.0,0,5.520752,1.939759,2013,1,31,0,2.0,3.0,1.142857,1.125000
1384585,2013-02-05,1,0.0,1.0,0,5.520752,1.939759,2013,2,5,0,6.0,2.0,1.142857,1.111111
1710821,2013-02-13,1,0.0,4.0,0,5.520752,1.939759,2013,2,13,0,2.0,1.0,1.571429,1.400000

## transactions.csv

In [40]:
transactions=pd.read_csv(r"C:\Users\ahmad\Desktop\depi_project\transactions.csv")

In [41]:
transactions.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [42]:
transactions.shape

(83488, 3)

In [43]:
transactions['en_store_nbr']=transactions['store_nbr'].map(store_sales)

In [44]:
transactions.head()

         date  store_nbr  transactions  en_store_nbr
0  2013-01-01         25           770      5.552205
1  2013-01-02          1          2111      5.520752
2  2013-01-02          2          2358      7.214114
3  2013-01-02          3          3487     14.842100
4  2013-01-02          4          1922      6.680564

In [45]:
transactions.dtypes

date             object
store_nbr         int64
transactions      int64
en_store_nbr    float32
dtype: object

In [46]:
transactions['date']=pd.to_datetime(transactions['date'] , format= '%Y-%m-%d')

In [47]:
transactions_dup=transactions.duplicated().sum()
transactions_dup

0

In [48]:
print(transactions.isnull().sum())

date            0
store_nbr       0
transactions    0
en_store_nbr    0
dtype: int64

In [49]:
Q1=transactions['transactions'].quantile(0.25)
Q3=transactions['transactions'].quantile(0.75)
IQR=Q3-Q1
lower_bound= Q1 - 1.5 * IQR
upper_bound= Q3 + 1.5 * IQR
outliers = transactions[(transactions['transactions']< lower_bound) | (transactions['transactions']> upper_bound)]
outliers

            date  store_nbr  transactions  en_store_nbr
38    2013-01-02         44          4821     17.673206
39    2013-01-02         45          4208     15.641273
40    2013-01-02         46          4886     12.491778
41    2013-01-02         47          4161     14.735988
87    2013-01-03         47          3660     14.735988
...          ...        ...           ...           ...
83372 2017-08-13         47          3741     14.735988
83423 2017-08-14         44          4039     17.673206
83424 2017-08-14         45          3743     15.641273
83477 2017-08-15         44          3815     17.673206
83478 2017-08-15         45          3685     15.641273

[4583 rows x 4 columns]

In [50]:
transactions['transactions'] = transactions['transactions'].clip(lower_bound, upper_bound)

In [51]:
transactions['avg_transaction_per_store'] = transactions.groupby("store_nbr")["transactions"].transform("mean")
transactions.head()

        date  store_nbr  transactions  en_store_nbr  avg_transaction_per_store
0 2013-01-01         25         770.0      5.552205                 941.400619
1 2013-01-02          1        2111.0      5.520752                1523.844272
2 2013-01-02          2        2358.0      7.214114                1919.507752
3 2013-01-02          3        3487.0     14.842100                3155.176313
4 2013-01-02          4        1922.0      6.680564                1502.987470

## stores.csv

In [52]:
stores=pd.read_csv(r"C:\Users\ahmad\Desktop\depi_project\stores.csv")
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [53]:
stores.shape

(54, 5)

In [54]:
print(stores.isnull().sum())

store_nbr    0
city         0
state        0
type         0
cluster      0
dtype: int64

In [55]:
stores_duplicates=stores.duplicated().sum()
stores_duplicates

0

In [56]:
stores['city'].value_counts()

city
Quito            18
Guayaquil         8
Cuenca            3
Santo Domingo     3
Manta             2
Latacunga         2
Machala           2
Ambato            2
Quevedo           1
Esmeraldas        1
Loja              1
Libertad          1
Playas            1
Daule             1
Babahoyo          1
Salinas           1
Puyo              1
Guaranda          1
Ibarra            1
Riobamba          1
Cayambe           1
El Carmen         1
Name: count, dtype: int64

In [57]:
stores['city'] = LabelEncoder().fit_transform(stores['city'])
stores['state'] = LabelEncoder().fit_transform(stores['state'])
stores['type'] = LabelEncoder().fit_transform(stores['type'])
stores.head()

   store_nbr  city  state  type  cluster
0          1    18     12     3       13
1          2    18     12     3       13
2          3    18     12     3        8
3          4    18     12     3        9
4          5    21     14     3        4

In [58]:
stores.dtypes

store_nbr    int64
city         int32
state        int32
type         int32
cluster      int64
dtype: object

## oil.csv

In [59]:
oil=pd.read_csv(r"C:\Users\ahmad\Desktop\depi_project\oil.csv")
oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [60]:
oil.shape

(1218, 2)

In [61]:
print(oil.isnull().sum())

date           0
dcoilwtico    43
dtype: int64

In [62]:
oil['dcoilwtico'] = oil['dcoilwtico'].bfill() # backward fill

In [63]:
oil.head()

         date  dcoilwtico
0  2013-01-01       93.14
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [64]:
oil.dtypes

date           object
dcoilwtico    float64
dtype: object

In [65]:
oil['date']=pd.to_datetime(oil['date'] , format= '%Y-%m-%d')

In [66]:
oil['oil_price_change']=oil['dcoilwtico'].pct_change()

In [67]:
oil.head()

        date  dcoilwtico  oil_price_change
0 2013-01-01       93.14               NaN
1 2013-01-02       93.14          0.000000
2 2013-01-03       92.97         -0.001825
3 2013-01-04       93.12          0.001613
4 2013-01-07       93.20          0.000859

In [68]:
print(oil.isnull().sum())

date                0
dcoilwtico          0
oil_price_change    1
dtype: int64

In [69]:
oil=oil.dropna()

In [70]:
oil.head()

        date  dcoilwtico  oil_price_change
1 2013-01-02       93.14          0.000000
2 2013-01-03       92.97         -0.001825
3 2013-01-04       93.12          0.001613
4 2013-01-07       93.20          0.000859
5 2013-01-08       93.21          0.000107

## items.csv

In [71]:
items=pd.read_csv(r"C:\Users\ahmad\Desktop\depi_project\items.csv")
items.head()

   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

In [72]:
items.shape

(4100, 4)

In [73]:
print(items.isnull().sum())

item_nbr      0
family        0
class         0
perishable    0
dtype: int64

In [74]:
items_duplicates=items.duplicated().sum()
items_duplicates

0

In [75]:
items['family'] = LabelEncoder().fit_transform(items['family'])

In [76]:
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, LabelEncoder
scaler = MinMaxScaler()
items['class'] = scaler.fit_transform(items[['class']])
items['item_nbr'] = scaler.fit_transform(items[['item_nbr']])

In [77]:
items['class_perishable_interaction'] = items['class'] * items['perishable']

In [78]:
items.head()

   item_nbr  family     class  perishable  class_perishable_interaction
0  0.000000      12  0.013426           0                      0.000000
1  0.001081      12  0.009590           0                      0.000000
2  0.003194       7  0.295958           0                      0.000000
3  0.003203      12  0.003836           0                      0.000000
4  0.003274       5  0.252287           1                      0.252287

## holidays_events.csv

In [79]:
holidays_events=pd.read_csv(r"C:\Users\ahmad\Desktop\depi_project\holidays_events.csv")

In [80]:
holidays_events.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [81]:
holidays_events.shape

(350, 6)

In [82]:
holidays_events['type'].value_counts()

type
Holiday       221
Event          56
Additional     51
Transfer       12
Bridge          5
Work Day        5
Name: count, dtype: int64

In [83]:
holidays_events['locale_name'].value_counts()

locale_name
Ecuador                           174
Quito                              13
Riobamba                           12
Guaranda                           12
Latacunga                          12
Ambato                             12
Guayaquil                          11
Cuenca                              7
Ibarra                              7
Salinas                             6
Loja                                6
Santa Elena                         6
Santo Domingo de los Tsachilas      6
Quevedo                             6
Manta                               6
Esmeraldas                          6
Cotopaxi                            6
El Carmen                           6
Santo Domingo                       6
Machala                             6
Imbabura                            6
Puyo                                6
Libertad                            6
Cayambe                             6
Name: count, dtype: int64

In [84]:
holidays_events['type'] = LabelEncoder().fit_transform(holidays_events['type'])
holidays_events['locale'] = LabelEncoder().fit_transform(holidays_events['locale'])
holidays_events['locale_name'] = LabelEncoder().fit_transform(holidays_events['locale_name'])

In [85]:
holidays_events['transferred']=holidays_events['transferred'].astype(int)

In [86]:
holidays_events['description'].value_counts()

description
Carnaval                              10
Fundacion de Cuenca                    7
Fundacion de Ibarra                    7
Fundacion de Quito                     6
Provincializacion de Santo Domingo     6
                                      ..
Terremoto Manabi+8                     1
Recupero puente Navidad                1
Terremoto Manabi+10                    1
Terremoto Manabi+11                    1
Traslado Fundacion de Quito            1
Name: count, Length: 103, dtype: int64

In [87]:
holidays_events.drop(columns=['description'], inplace=True)

In [88]:
holidays_events.head()

         date  type  locale  locale_name  transferred
0  2012-03-02     3       0           15            0
1  2012-04-01     3       2            2            0
2  2012-04-12     3       0            3            0
3  2012-04-14     3       0           12            0
4  2012-04-21     3       0           19            0

In [89]:
print(holidays_events.isnull().sum())

date           0
type           0
locale         0
locale_name    0
transferred    0
dtype: int64

In [90]:
holidays_events.drop_duplicates(inplace=True)

In [91]:
holidays_events_dup=holidays_events.duplicated().sum()
holidays_events_dup

0

In [92]:
holidays_events['date']=pd.to_datetime(holidays_events['date'] , format= '%Y-%m-%d')

In [93]:
holidays_events.dtypes

date           datetime64[ns]
type                    int32
locale                  int32
locale_name             int32
transferred             int32
dtype: object

In [94]:
holidays_events.head()

        date  type  locale  locale_name  transferred
0 2012-03-02     3       0           15            0
1 2012-04-01     3       2            2            0
2 2012-04-12     3       0            3            0
3 2012-04-14     3       0           12            0
4 2012-04-21     3       0           19            0

In [95]:
Data = [items, oil, stores, transactions, train, test]

def show_all_DataFrames(Data):
    for i in Data:  
        print(i.head())  
        print('Shape',i.shape)  
        print('Data Types',i.dtypes, sep='\n')  
        print('Null values:\n',i.isnull().sum())  
        print('-----------------------------------------')

show_all_DataFrames(Data)

   item_nbr  family     class  perishable  class_perishable_interaction
0  0.000000      12  0.013426           0                      0.000000
1  0.001081      12  0.009590           0                      0.000000
2  0.003194       7  0.295958           0                      0.000000
3  0.003203      12  0.003836           0                      0.000000
4  0.003274       5  0.252287           1                      0.252287
Shape (4100, 5)
Data Types
item_nbr                        float64
family                            int32
class                           float64
perishable                        int64
class_perishable_interaction    float64
dtype: object
Null values:
 item_nbr                        0
family                          0
class                           0
perishable                      0
class_perishable_interaction    0
dtype: int64
-----------------------------------------
        date  dcoilwtico  oil_price_change
1 2013-01-02       93.14          0.000000
2 2013-01-03       92.97         -0.001825
3 2013-01-04       93.12          0.001613
4 2013-01-07       93.20          0.000859
5 2013-01-08       93.21          0.000107
Shape (1217, 3)
Data Types
date                datetime64[ns]
dcoilwtico                 float64
oil_price_change           float64
dtype: object
Null values:
 date                0
dcoilwtico          0
oil_price_change    0
dtype: int64
-----------------------------------------
   store_nbr  city  state  type  cluster
0          1    18     12     3       13
1          2    18     12     3       13
2          3    18     12     3        8
3          4    18     12     3        9
4          5    21     14     3        4
Shape (54, 5)
Data Types
store_nbr    int64
city         int32
state        int32
type         int32
cluster      int64
dtype: object
Null values:
 store_nbr    0
city         0
state        0
type         0
cluster      0
dtype: int64
-----------------------------------------
        date  store_nbr  transactions  en_store_nbr  avg_transaction_per_store
0 2013-01-01         25         770.0      5.552205                 941.400619
1 2013-01-02          1        2111.0      5.520752                1523.844272
2 2013-01-02          2        2358.0      7.214114                1919.507752
3 2013-01-02          3        3487.0     14.842100                3155.176313
4 2013-01-02          4        1922.0      6.680564                1502.987470
Shape (83488, 5)
Data Types
date                         datetime64[ns]
store_nbr                             int64
transactions                        float64
en_store_nbr                        float32
avg_transaction_per_store           float64
dtype: object
Null values:
 date                         0
store_nbr                    0
transactions                 0
en_store_nbr                 0
avg_transaction_per_store    0
dtype: int64
-----------------------------------------
             date  store_nbr  item_nbr  unit_sales  onpromotion  en_store_nbr  \
324276 2013-01-10          1       0.0         1.0            0      5.520752
362634 2013-01-11          1       0.0         1.0            0      5.520752
486204 2013-01-14          1       0.0         1.0            0      5.520752
644444 2013-01-18          1       0.0         2.0            0      5.520752
770056 2013-01-21          1       0.0         1.0            0      5.520752

        en_item_nbr  year  month  day  is_weekend  lag_7  lag_30  \
324276     1.939759  2013      1   10           0    1.0     2.0
362634     1.939759  2013      1   11           0    1.0     7.0
486204     1.939759  2013      1   14           0    3.0     4.0
644444     1.939759  2013      1   18           0    7.0     1.0
770056     1.939759  2013      1   21           0    2.0     2.0

        rolling_mean_7  rolling_mean_30
324276            1.00             1.00
362634            1.00             1.00
486204            1.00             1.00
644444            1.25             1.25
770056            1.20             1.20
Shape (125497040, 15)
Data Types
date               datetime64[ns]
store_nbr                   int16
item_nbr                  float64
unit_sales                float32
onpromotion                 int32
en_store_nbr              float32
en_item_nbr               float32
year                        int32
month                       int32
day                         int32
is_weekend                  int32
lag_7                     float32
lag_30                    float32
rolling_mean_7            float64
rolling_mean_30           float64
dtype: object
Null values:
 date               0
store_nbr          0
item_nbr           0
unit_sales         0
onpromotion        0
en_store_nbr       0
en_item_nbr        0
year               0
month              0
day                0
is_weekend         0
lag_7              0
lag_30             0
rolling_mean_7     0
rolling_mean_30    0
dtype: int64
-----------------------------------------
        date  store_nbr  item_nbr  onpromotion  en_store_nbr  en_item_nbr
0 2017-08-16          1  0.000000            0      5.520752          NaN
1 2017-08-16          1  0.001081            0      5.520752          NaN
2 2017-08-16          1  0.003194            0      5.520752          NaN
3 2017-08-16          1  0.003203            0      5.520752          NaN
4 2017-08-16          1  0.003274            0      5.520752          NaN
Shape (3370464, 6)
Data Types
date            datetime64[ns]
store_nbr                int64
item_nbr               float64
onpromotion              int32
en_store_nbr           float32
en_item_nbr            float32
dtype: object
Null values:
 date                  0
store_nbr             0
item_nbr              0
onpromotion           0
en_store_nbr          0
en_item_nbr     3370464
dtype: int64
-----------------------------------------

In [ ]:
#test.to_csv('Cleaned_Data/cleaned_test.csv', index=False)

In [ ]:
#train.to_csv('Cleaned_Data/cleaned_train.csv', index=False)

In [ ]:
#transactions.to_csv('Cleaned_Data/cleaned_transactions.csv', index=False)

In [ ]:
#stores.to_csv('Cleaned_Data/cleaned_stores.csv', index=False)

In [ ]:
#oil.to_csv('Cleaned_Data/cleaned_oil.csv', index=False)

In [ ]:
#items.to_csv('Cleaned_Data/cleaned_items.csv', index=False)

In [ ]:
#holidayes_events.to_csv('Cleaned_Data/cleaned_holidayes_events.csv', index=False)

In [ ]:
#sample_submission.to_csv('Cleaned_Data/cleaned_sample_submission.csv', index=False)